.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  padding: 14px 12px;
  border: 1px solid #f0f0f0;
}

.category-name { font-weight: 600; }

.color-square {
  width: 25px;
  height: 25px;
  border-radius: 8px; 
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}

.action-wrapper {
  position: relative;
  display: inline-block;
}


.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
  display: none;
  z-index: 1000;
}


.action-wrapper:focus-within .submenu {
  display: block;
}


.submenu button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  cursor: pointer;
}

.submenu button:hover {
  background: #f0f0f0;
}