.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  padding: 14px 12px;
  border: 1px solid #f0f0f0;
}

.category-name { font-weight: 600; }

.color-square {
  width: 25px;
  height: 25px;
  border-radius: 8px; 
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}