.limit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  padding: 14px 12px;
  border: 1px solid #f0f0f0;
}

.limit-name { font-weight: 600; }
.limit-value { color: #0a8f2c; font-weight: 800; }


.action-wrapper {
  position: relative;
  display: inline-block;
}


.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
  display: none;
  z-index: 1000;
}


.action-wrapper:focus-within .submenu {
  display: block;
}


.submenu button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  cursor: pointer;
}

.submenu button:hover {
  background: #f0f0f0;
}