<div class="page">
  <h1 class="title">BudgetApp</h1>

  <div class="monthbar">
  <button class="nav-btn" type="button" (click)="prevMonth()">‹</button>

  <select class="select month" [(ngModel)]="month" (change)="reload()">
    @for (m of months; track $index) {
      <option [ngValue]="$index">
        {{ m }}
    </option>
    }
  </select>

  <select class="select year" [(ngModel)]="year" (change)="reload()">
    @for (y of years; track $index) {
      <option [ngValue]="y">
        {{ y }}
      </option>
    }
  </select>

  <button class="nav-btn" type="button" (click)="nextMonth()">›</button>
</div>


  <div class="layout">

    <section class="panel">
      <div class="panel-header">
        <h2>Transactions</h2>
        <button class="action" type="button" (click)="openAddTransaction()">
          Add Transaction <span>+</span>
        </button>
        <button class="action" type="button" (click)="openAddCategory()">
          Add Category <span>+</span>
        </button>

      </div>

      <div class="cards">
        @for (t of transactions; track $index) {
          <app-transaction-view
            [transaction]="t"
            [category]="getCategory(t.category_id)"></app-transaction-view>
        }
      </div>
    </section>


    <section class="panel">
      <div class="panel-header">
        <h2>Budget limits</h2>
        <button class="action" type="button">
          Add Limit <span>+</span>
        </button>
      </div>

      <div class="limits">
        <div class="limit">
          @for (l of limits; track $index) {
              <div class="limit-name">
            {{ getCategory(l.category_id)?.name || '-' }}
          </div>
          <div class="limit-value">\${{ l.value }}</div>
          }
          
        </div>
      </div>
    </section>
  </div>

</div>
@if (isCategoryModalOpen) {
  <div class="overlay-backdrop">
  <app-add-category-view
    (save)="handleSaveCategory($event)"
    (close)="closeAddCategory()"
  ></app-add-category-view>
</div>
}

@if (isTransactionModalOpen){
<div class="overlay-backdrop">
  <app-add-transaction-view
    [categories]="categories"
    (save)="handleSaveTransaction($event)"
    (close)="closeAddTransaction()"
  ></app-add-transaction-view>
</div>
}
