

<div class="layout">

  <section class="panel">
    <div class="panel-header">
      <h2>Transactions</h2>
      <button class="action" type="button" (click)="openAddTransaction()">
        Add Transaction <span>+</span>
      </button>

    </div>

    <div class="cards">
      @for (t of transactions; track $index) {
      <app-transaction-view
        [transaction]="t"
        [category]="getCategory(t.category_id)"></app-transaction-view>
      }
    </div>
  </section>

  <section class="panel">
    <div class="panel-header">
      @if (sideContent ==='limits') {
      <h2>Budget limits</h2>
      }
      @else if (sideContent ==='categories') {
      <h2>Categories</h2>
      }
      <button class="action" type="button" (click)="changeSideContent()"
        [disabled]="limitsButtonIsDisabled">
        Limits
      </button>
      <button class="action" type="button" (click)="changeSideContent()"
        [disabled]="categoriesButtonIsDisabled">
        Categories
      </button>
      @if (sideContent ==='limits') {
      <button class="action" type="button" (click)="openAddLimit()">
        Add Limit <span>+</span>
      </button>
      }
      @else if (sideContent ==='categories') {
      <button class="action" type="button" (click)="openAddCategory()">
        Add Category <span>+</span>
      </button>
      }
    </div>

    <div class="limits">
      @if (sideContent ==='limits') {
      <app-limits-view [limits]="limits" [categories]="categories"></app-limits-view>
      }
      @else if (sideContent ==='categories') {
      <app-categories-view [categories]="categories"></app-categories-view>
      }
    </div>
  </section>
</div>

@if (isCategoryModalOpen) {
<div class="overlay-backdrop">
  <app-add-category-view
    (save)="handleSaveCategory($event)"
    (close)="closeAddCategory()"></app-add-category-view>
</div>
}

@if (isTransactionModalOpen){
<div class="overlay-backdrop">
  <app-add-transaction-view
    [categories]="categories"
    (save)="handleSaveTransaction($event)"
    (close)="closeAddTransaction()"></app-add-transaction-view>
</div>
}

@if (isLimitModalOpen){
<div class="overlay-backdrop">
  <app-add-limit-view
    [categories]="categories"
    (save)="handleSaveLimit($event)"
    (close)="closeAddLimit()"></app-add-limit-view>
</div>
}
