<div class="modal-backdrop" (click)="onCancel()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    @if (limit()) {
    <h2>Edit Limit</h2>
    }
    @else {
      <h2>Add Limit</h2>
    }
    

  <form [formGroup]="limitForm">

    <div class="form-group">
    <label>Category</label>
    <select formControlName="category_id" class="input-field select-field">
      <option value="" disabled >Select a category</option>
      @for (c of categories(); track $index) {
        <option [value]="c._id">
          {{ c.name }} 
        </option>
      }
    </select>
  </div>
  @if (limitForm.get('category_id')?.touched &&
      limitForm.get('category_id')?.invalid) {
      <div class="error-message">{{getErrorMessage('category_id')}}</div>
    }


    <div class="form-group">
      <label>Value:</label>
      <input type="number" formControlName="value" placeholder="0.00">
    </div>
    @if (limitForm.get('value')?.touched &&
      limitForm.get('value')?.invalid) {
      <div class="error-message">{{getErrorMessage('value')}}</div>
    }

    <div class="form-group">
      <label>Month:</label>
      <select formControlName="month" class="input-field select-field">
      <option value="" disabled >Select a month</option>
      @for (m of months; track $index) {
        <option [value]="$index">
          {{ m }} 
        </option>
      }
    </select>
    </div>
    @if (limitForm.get('month')?.touched &&
      limitForm.get('month')?.invalid) {
      <div class="error-message">{{getErrorMessage('month')}}</div>
    }

    <div class="form-group">
      <label>Year:</label>
      <input type="number" formControlName="year" placeholder="2025" min="2000" max="2050">
    </div>
    @if (limitForm.get('year')?.touched &&
      limitForm.get('year')?.invalid) {
      <div class="error-message">{{getErrorMessage('year')}}</div>
    }


    <div class="actions">
      <button class="btn-cancel" (click)="onCancel()">Cancel</button>
      <button class="btn-save" (click)="onSubmit()">Save</button>
    </div>
  </form>

  </div>
</div>
